<section class="flex flex-col justify-center text-center">
	<h1 class="py-5 bg-blue-300">Home Page</h1>
	<a href="/api/users" class="p-3 m-auto mt-3 w-fit bg-green-300 hover:bg-green-500">Users API</a>
	<a href="/api/lists" class="p-3 m-auto mt-3 w-fit bg-green-300 hover:bg-green-500">Lists API</a>
</section>