<h1 class="text-center text-5xl font-bold py-5 border-b-2 border-gray-300">Home Page</h1>

<p>Hello and welcome to my implementation of a to-do list using Elixir and Phoenix! To-do lists are my bread and butter when trying to stay organized in everyday life, and they have helped me put worries to rest, knowing that I'm staying organized.</p>
<br/>
<p>This is a Phoenix LiveView web application that allows users to create and manage personalized lists by adding or removing items with ease.</p>