<h1 class="text-4xl">Edit and update your list: <strong><%= @list.list_name %></strong></h1>

<div>
	<strong class="block mt-10 text-2xl"><%= @list.list_name %></strong>
	<hr/>
	<.simple_form for={@form} phx-submit="update_list">
		<ol>
			<%= for {item, index} <- Enum.with_index(@list.items) do %>
				<li class="list-decimal">
					<input type="text" name={"items[#{index}]"} value={item}/>
				</li>
			<% end %>
			<.button class="mt-5">Save Changes</.button>
		</ol>
	</.simple_form>
</div>